.card-container{
    width: 45%;
    margin: 10px;
}

.card-img{
    width: 150px;
    height: 100px;
    border-radius: 5px;
}

.card-line1{
    color: #1874CD;
    font-size: 12px;
    font-weight: 500;
    font-family: Circular,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    line-height: 16px;
}

.card-line2{
    font-family: Circular,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif ;
    font-size: 19px;
    font-weight: 500;
    line-height: 22px;
    color: #484848;
}

.card-line3{
    font-family: Circular,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
    font-size: 15px;
    font-weight: 200;
    line-height: 18px;
    color: #484848;
}